body{
    font-family: fantasy;
    background-color: #7fd8ff;
    margin:0;
    padding:0;
}

#wrap {
  width: 75%;
  margin: 0 auto
}

header img{
    width: 75%;
}

header {
   background-color: #da6dff;
   padding: 10px;
    text-align: center;
    background-color: #da6dff;
}

nav{
    background-color: #373837;
    padding: 10px;
    text-align: center;
    font-size: 20px
    font-family: Georgia;
}

nav li{
    display: inline;
    /*padding: 20px;*/
}

nav ul{
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}

nav a:hover {
    color: #da6dff;
    background-color: #7fd8ff;
    
}

section{
    padding: 10px;
    background-color: white;
    overflow: auto;
}


footer{
    background-color: #373837;
    color: white;
    padding: 10px;
    text-align: center;
}